<p style="color: green"><%= notice %></p>
<%= link_to "New Post", new_user_post_path(user_id: @user.id) %>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
